.contact {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.contact__owner {
    display: flex;
    gap: 20px;
}

.contact__owner-photo {
    clip-path: circle();
    object-fit: cover;
}

.contact__owner-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__owner-name {
    font-size: 32px;
    color: #000;
    font-weight: bold;
    line-height: 120%;
}

.contact__sub-block {
    display: flex;
    gap: 16px;
}

.contact__sub-value {
    display: flex;
    gap: 16px;
    align-items: center;
}

.contact__sub-value:not(:last-child)::after {
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 4px;
    background-color: #000;
}

.contact__text {
    font-size: 16px;
    color: #000;
    line-height: 125%;
}