.review__block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.review__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.review {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review__title {
    display: flex;
    justify-content: space-between;
}

.review__name {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.review__text {
    font-size: 16px;
    color: #000;
   line-height: 150%;
}